<h1> Editstory </h1>
<%= form_for @story do |f| %>
  <%= f.label :title %>: 
  <%= f.text_field :title %>

  <%= f.label :date_of_story_begining  %> 
  <%= f.number_field :Order%>

  <%= f.label :url_optional_if_chaptered_story %>
  <%= f.text_field :url %>

  <%= f.submit %>
<% end %>
