<h1> Edit Chapter </h1>
<%= form_for @chapter do |f| %>
  <%= f.label :title %>: 
  <%= f.text_field :title %>

  <%= f.label :chapter_number  %> 
  <%= f.date_field :number%>

  <%= f.label :url_optional_if_chaptered_story %>
  <%= f.text_field :url %>

  <%= f.submit %>
<% end %>
